.Admin {
  display: flex;
justify-content: space-evenly;
.links {
display: column;
border-right: 3px solid white;
div{
  padding-bottom: 2rem;
  a{
    text-decoration: none;
    font-size: 2rem;
    padding:2rem;
    color: white;
    &:hover {
      color: rgb(137, 135, 135);
    }
  }
}
}
.Projects {
  display: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  .content {
    width: 40%;
    margin: auto;
    margin-top: 3rem;
    display: column;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

  .Members {
    display: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    // background-image: linear-gradient(to right, rgb(242, 226, 226) , rgb(234, 234, 212));
    width: 100%;
    .users {
      width: 40%;
      margin: auto;
      margin-top: 3rem;
      display: column;
      border: 1px solid #ccc;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      .user {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border: 1px solid #fff;
        height: 2rem;
        place-items: center;
        .edit {
          width: 100%;
          display: flex;

          .name {
            border: none;
            background-color: transparent;
            padding-left: 1rem;
            width: 35%;
            text-align: left;
            color: rgb(94, 93, 93);
            font-size: 20px;
          }
          .email {
            border: none;
            background-color: transparent;
            padding-left: 1rem;
            text-align: left;
            color: rgb(94, 93, 93);
            font-size: 20px;
          }
          .save {
            font-size: 1.2rem;
            color: rgb(94, 93, 93);
            margin: 0;
            &:hover {
              color: white;
            }
          }
        }
        .item {
          width: 100%;
          display: flex;
          justify-content: space-around;

          .name {
            width: 30%;
            text-align: left;
          }
          .email {
            width: 60%;
            text-align: left;
          }
        }
        .icons {
          display: flex;
          justify-content: right;
          padding-right: 1rem;
          .icon {
            color: gray;
            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }
}
